.tasks {
  background-color: white; }
  .tasks__title {
    margin-bottom: 30px; }
  .tasks__head-text {
    font-size: 28px;
    font-style: italic; }
  .tasks__add-btn {
    padding: 0;
    padding-left: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #ff1905;
    opacity: 0.7; }
    .tasks__add-btn:hover, .tasks__add-btn:focus {
      opacity: 1;
      outline: none; }
    .tasks__add-btn:active {
      opacity: 0.7; }
    .tasks__add-btn::before, .tasks__add-btn::after {
      background-color: #ff1905;
      opacity: 0.7; }
    .tasks__add-btn::before {
      left: 0; }
    .tasks__add-btn::after {
      left: 13px; }
  .tasks__item {
    border-bottom: 1px solid #f1f1f1; }
